<h2>New comment</h2>

<form>
  <div class="form-group">
    <label for="text">Your thoughts</label>
    {{textarea id="text" class="form-control" rows="5" value=text}}
  </div>

  <button class="btn btn-primary" {{action 'save'}}>Add your comment</button>
</form>
